@import url('https://fonts.googleapis.com/css?family=Bai+Jamjuree:700|Karla:400,700&display=swap');

body{
  font-family: "Karla", sans-serif;
  margin: 0;
  scroll-behavior: smooth
}

h1, h2, h3, h4{
  font-family: "Bai Jamjuree", sans-serif;
  margin: 0;
}
p{
  margin: 0;
}
h1{
  font-size: 40px;
  line-height: 100%;
}

h2{
  font-size: 36px;
  line-height: 100%;
  letter-spacing: -0.02em;
}
h4{
  font-size: 18px;
}
.activeLink{
  color: #001833 !important;
}
.BodyText{
  font-size: 18px;
}
::selection{
  color: #303F4F;
  background: #EFF2F5;
}
.container{
  width: 94%;
  max-width: 990px;
  margin: 0 auto;
}

.HeroSectionMain{
  position: relative;
  padding-top: 70px;
}
.HeroImage{
  position: absolute;
  right: 0%;
  top: -25%;
  z-index: -1;
}
.HeroCopy{
  max-width: 600px;
}

.HeroCopy h1{
  color: #001833;
  margin-bottom: .7em;
}

.HeroCopy p{
  line-height: 160%;
  max-width: 520px;
  color: #718AA8;
  margin-bottom: 2em;
}

.HeroCard{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 30px 45px;
  border-radius: 10px;
  box-shadow: 0px 14px 24px rgba(188, 188, 188, 0.25);
  background: url('../images/blue-background.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 90%;

}

.HeroCard .Testimony{
  color: white;
  line-height: 125%;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: flex-start;
  width: 70%;
}

.TestimonyCopy{
  letter-spacing: 0.03em;
  font-weight: bold;
  max-width: 440px;
}

.TestimonyCopy p{
  font-weight: normal;
  margin-top: .9em;
  margin-bottom: 10px;
}

.TestimonyCopy span{
  opacity: .58;
}

.Testimony img{
  margin-right: 5%;
}

a.PrimaryButton{
  color: white;
  text-decoration: none;
  background: #268DFE;
  margin-top: 15px;
  padding: 23px 48px;
  box-shadow: 0px 10px 14px rgba(77, 162, 254, 0.16);
  border-radius: 50px;
  font-family: "Karla", sans-serif;
  font-weight: bold;
  text-transform: lowercase;
  font-variant: small-caps;
}

.Comparison a.PrimaryButton{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 10em;
}
.Comparison a.PrimaryButton img{
  margin-left: 5px;
}

a.PrimaryButtonWhite{
  color: #268DFE;
  text-decoration: none;
  background: white;
  padding: 23px 48px;
  box-shadow: 0px 10px 14px rgba(77, 162, 254, 0.16);
  border-radius: 50px;
  font-family: "Karla", sans-serif;
  font-weight: bold;
  text-transform: lowercase;
  font-variant: small-caps;
}


.Comparison{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 90px;
}

.Comparison .title{
  font-size: 18px;
  color: #001833;
  margin-bottom: 15px;
}

.Comparison h2{
  font-size: 30px;
  color: #001833;
  margin-bottom: 30px;

}
.Way{
  width: 42%;
  min-width: 200px;
  max-width: 720px;
  padding: 50px;
}
.OldWay{
  background: #F9F9F9;
}
.OldWay h2, .OldWay p{
  text-align: right;
}
.OldWay .Bubble{
  justify-content: flex-start;
}
.NewWay{
  background: #FAFCFF;
}
.NewWay .Bubble{
  align-self: flex-start;
  justify-content: flex-end;
  flex-direction: row-reverse;
}
.NewWay .Bubble img{
  margin-left: 20px;
  margin-right: 0px;
}
.BubbleList{
  display: flex;
  flex-direction: column;
}

.Way .PrimaryButton{
  margin-top: 30px;
  display: inline-block;
}

.Testimonials{
  max-width: 1000px;
  margin: 0 auto;
  margin-bottom: 85px;
}

.Testimonials h2{
  color: #001833;
  margin-top: 80px;
  margin-bottom: 70px;
  text-align: center;
}

.TestimonialContainer{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.HelpCustomers{
  background: #001833;
  width: 100%;
  padding: 80px 0px 100px 0px;
}

.HelpCustomers h2{
  color: white;
  max-width: 300px;
  margin-bottom: 100px;
}

.HelpMeasures{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.HelpMeasure{
  width: 302px;
  min-width: 250px;
}

.HelpMeasure h4{
  color: white;
  margin-bottom: 23px;
}

.HelpMeasure p{
  color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
  line-height: 140%;
}

.SubFooter{
  width: auto;
  background: #268DFE;
  padding: 95px 15px 140px 15px;
}

.SmallContainer{
  max-width: 500px;
  min-width: 300px;
  margin: 0 auto;
}

.SmallContainer p{
  margin-bottom: 12px;
  color: white;
  font-size: 16px;
}

.SmallContainer h2{
  color: white;
  margin-bottom: 50px;
}


.Footer{
  width: 90%;
  margin: auto;
  background: white;
  display: flex;
  justify-content: space-between;
  padding: 40px 0px;
}

.FooterItems{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}

.FooterItems li{
  list-style: none;
  text-decoration: none;
  font-size: 14px;
  font-family: "Karla", sans-serif;
  margin: 0 30px;
}

.FooterItems a {
  text-decoration: none;
  color: #718AA8;
}

.HeroSection{
  width: 94%;
  position: relative;
  margin: 0 auto;
  max-width: 990px;
  border-radius: 10px;
  box-shadow: 0px 14px 24px rgba(188, 188, 188, 0.25);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 180px 0px 100px;
  box-sizing: border-box;
  margin-bottom: 100px;
}

@media only screen and (max-width: 460px){
  .HeroSection{
    padding: 20px;
  }
  .HeroSection h2{
    font-size: 36px;
  }
  .HeroSection p{
    font-size: 14px;
  }
  .HeroSection .Content{
    width: 100% !important;
    padding: 20px 0px !important;
  }
  .HeroSection img{
    height: 200px;
  }
}
.HeroSection img{
  position: absolute;
  bottom: 0px;
  right: 10%;

}

.HeroSection .TestifierName{
  font-weight: bold;
  color: white; 
}
.HeroSection .TestifierPosition{
  font-weight: regular;
  color: rgba(255, 255, 255, 0.64);
}
.HeroSection .Content{
  width: 60%;
  max-width: 414px;
  color: white;
  padding: 80px 0px;
}

.HeroSection.ThriveAgric{
  background: url('../images/light-blue-background.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.HeroSection.Scholable{
  background: url('../images/yellow-background.svg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.HeroSection.Swipemax{
  background: url('../images/purple-background.svg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 0px;
  padding-top: 0px;
}

.StoryContent{
  width: 70%;
  max-width: 665px;
  margin: 0 auto;
  color: #001833;
}
.StoryContent h2{
    margin-bottom: 23px;
}
.StoryContent .ContentBlock{
  margin-bottom: 60px;
}
.StoryContent .ContentBlock p{
    font-size: 18px;
    line-height: 162%;
    margin-bottom: 30px;
}

.CaseStudies{
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
  flex-wrap: wrap;
}
.CaseStudies .TestimonialCard{
  margin: 15px 0px;
}
.CaseStudies .TestimonialCard img{
  right: 4%;
}