.TestimonialCard{
	width: 302px;
	height: 393px;
	position: relative;
	box-shadow: 0px 14px 24px rgba(188, 188, 188, 0.25);
	border-radius: 10px;
	margin: 15px;
	overflow: hidden;
	will-change: transform;
	transition: all 0.8s cubic-bezier(0.2,0.8,0.2,1);
}

.TestimonialCard:nth-child(1){
	background: url('../images/light-blue-background.svg');
	background-size: cover;
}
.TestimonialCard:nth-child(2){
	background: url('../images/yellow-background.svg');
	background-size: cover;
}

.ThriveAgricContent .TestimonialCard:nth-child(1){
	background: url('../images/yellow-background.svg');
	background-size: cover;
}
.ThriveAgricContent .TestimonialCard:nth-child(2){
	background: url('../images/purple-background.svg');
	background-size: cover;
}
.ScholableContent .TestimonialCard:nth-child(2){
	background: url('../images/purple-background.svg');
	background-size: cover;
}
.ThriveAgricContent .TestimonialCard:nth-child(2) img{
	width: 340px;
	left: 22px;
}
.ScholableContent .TestimonialCard:nth-child(2) img{
	width: 340px;
	left: 22px;
}
.TestimonialCard:nth-child(3){
	background: url('../images/purple-background.svg');
	background-size: cover;
}
.TestimonialCard:nth-child(3) img{
	width: 340px;
	left: 22px;

}
.TestimonialText{
	position: absolute;
	top: 46px;
	left: 33px;
	width: 200px;
	font-size: 20px;
	font-weight: bold;
	color: white;
	font-family: "Bai Jamjuree", sans-serif;
}

.TestimonialCard img{
	position: absolute;
	top: 150px;
	left: 72px;
	z-index: 0;
	width: 250px;
}
.TestimonialCard:hover{
	transform: scale(1.05, 1.05);
	box-shadow: 0px 21px 32px rgba(100, 100, 100, 0.5)


}
.TestifierName{
	text-transform: uppercase;
	font-size: 16px;
	font-family: "Karla", sans-serif;
	margin-top: 28px;
}
.TestifierDetails{
	display: inline-block;
	font-family: "Karla", sans-serif;
	font-weight: normal;
	font-size: 16px;
	margin-top: 6px;
	color: rgba(255,255,255,0.64);
}

.TestifierDetails span{
}

.TestifierDetails span:before{
	content: ', ';
	color: inherit;
	font-family: inherit;
	font-size: inherit;
}

.Read{
	position: absolute;
	bottom: 68px;
	left: 32px;
	font-family: "Bai Jamjuree", sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: white;
	text-decoration: none;
	z-index: 1;
}


