.Bubble{
	background: white;
	padding: 24px 36px;
	border-radius: 25px;
	box-shadow: 0px 9px 24px rgba(184, 184, 184, 0.1);
	display: flex;
	align-items: center;
	/*justify-content: center;*/
	flex-wrap: wrap;
	margin-bottom: 30px;
	align-self: flex-end;
}

.Bubble img{
	height: 30px;
	margin: 0px 20px 0px 0px;
}


.Bubble p{ 
	color: #001833; 
	font-size: 18px; 
	max-width: 22em; 
	line-height: 140%; 
	text-align: left; 
	align-self: flex-end;
}